dyadic-colors {
    Admiration                  "#FFC58F"   language=true   face=true   burst=true  prosody=true
    Adoration                   "#FFC6CC"   language=true   face=true   burst=true  prosody=true
    "Aesthetic Appreciation"    "#E2CBFF"   language=true   face=true   burst=true  prosody=true
    Amusement                   "#FEBF52"   language=true   face=true   burst=true  prosody=true
    Anger                       "#B21816"   language=true   face=true   burst=true  prosody=true
    Annoyance                   "#FFFFFF"   language=true   face=false  burst=false prosody=false
    Anxiety                     "#6E42CC"   language=true   face=true   burst=true  prosody=true
    Awe                         "#7DABD3"   language=true   face=true   burst=true  prosody=true
    Awkwardness                 "#D7D99D"   language=true   face=true   burst=true  prosody=true
    Boredom                     "#A4A4A4"   language=true   face=true   burst=true  prosody=true
    Calmness                    "#A9CCE1"   language=true   face=true   burst=true  prosody=true
    Concentration               "#336CFF"   language=true   face=true   burst=true  prosody=true
    Contemplation               "#B0AEEF"   language=true   face=true   burst=true  prosody=true
    Confusion                   "#C66A26"   language=true   face=true   burst=true  prosody=true
    Contempt                    "#76842D"   language=true   face=false  burst=false prosody=false
    Contentment                 "#E5C6B4"   language=true   face=true   burst=true  prosody=true
    Craving                     "#54591C"   language=true   face=true   burst=true  prosody=true
    Desire                      "#AA0D59"   language=true   face=true   burst=true  prosody=true
    Determination               "#FF5C00"   language=true   face=true   burst=true  prosody=true
    Disappointment              "#006C7C"   language=true   face=true   burst=true  prosody=true
    Disapproval                 "#FFFFFF"   language=true   face=false  burst=false prosody=false
    Disgust                     "#1A7A41"   language=true   face=true   burst=true  prosody=true
    Distress                    "#C5F264"   language=true   face=true   burst=true  prosody=true
    Doubt                       "#998644"   language=true   face=true   burst=true  prosody=true
    Ecstasy                     "#FF48A4"   language=true   face=false  burst=false prosody=false
    Embarrassment               "#63C653"   language=true   face=true   burst=true  prosody=true
    "Empathic Pain"             "#CA5555"   language=true   face=true   burst=true  prosody=true
    Enthusiasm                  "#FFFFFF"   language=true   face=false  burst=false prosody=false
    Entrancement                "#7554D6"   language=true   face=true   burst=true  prosody=true
    Envy                        "#1D4921"   language=true   face=true   burst=true  prosody=true
    Excitement                  "#FFF974"   language=true   face=true   burst=true  prosody=true
    Fear                        "#D1C9EF"   language=true   face=true   burst=true  prosody=true
    Gratitude                   "#FFFFFF"   language=true   face=false  burst=false prosody=false
    Guilt                       "#879AA1"   language=true   face=true   burst=true  prosody=true
    Horror                      "#772E7A"   language=true   face=true   burst=true  prosody=true
    Interest                    "#A9CCE1"   language=true   face=true   burst=true  prosody=true
    Joy                         "#FFD600"   language=true   face=true   burst=true  prosody=true
    Love                        "#F44F4C"   language=true   face=true   burst=true  prosody=true
    Neutral                     "#879AA1"   language=true   face=true   burst=true  prosody=true
    Nostalgia                   "#B087A1"   language=true   face=true   burst=true  prosody=true
    Pain                        "#8C1D1D"   language=true   face=true   burst=true  prosody=true
    Pride                       "#9A4CB6"   language=true   face=true   burst=true  prosody=true
    Realization                 "#217AA8"   language=true   face=true   burst=true  prosody=true
    Relief                      "#FE927A"   language=true   face=true   burst=true  prosody=true
    Romance                     "#F0CC86"   language=true   face=true   burst=true  prosody=true
    Sadness                     "#305575"   language=true   face=true   burst=true  prosody=true
    Sarcasm                     "#FFFFFF"   language=true   face=false  burst=false prosody=false
    Satisfaction                "#A6DDAF"   language=true   face=true   burst=true  prosody=true
    Shame                       "#8A6262"   language=true   face=true   burst=true  prosody=true
    "Surprise (negative)"       "#70E63A"   language=true   face=true   burst=true  prosody=true
    "Surprise (positive)"       "#7AFFFF"   language=true   face=true   burst=true  prosody=true
    Sympathy                    "#7F88E0"   language=true   face=true   burst=true  prosody=true
    Tiredness                   "#757575"   language=true   face=true   burst=true  prosody=true
    Triumph                     "#EC8132"   language=true   face=true   burst=true  prosody=true
}